@use "../../foundation/variable";

.headline--contact {
    background-image: url(../images/contact/headline-contact-form.png);
    background-size: cover;
    background-position: center;
}


// 12-4-3：お問い合わせフォームのスタイルを整えよう」に示されたコードは入れ子で書かれていて、
// その後の教材の指示通りにスタイルを追記したが、うまく反映されないので、入れ子でない表記にしてみた。
// そのうえで、教材の指示どおりにコードを追記。少し反映されない箇所があったが、微調整しといた。
.contact-form__item {
 margin-bottom: 30px;
 display: flex;
 justify-content: space-between;
}

.contact-form__item--bottom {
 margin-top: 50px;
 margin-bottom: 0;
}

.contact-form__label {
 font-size: 2rem;
 margin-top: 10px;
 width: 20%;
}

.contact-form__input {
 height: 40px;
 border: 0.5px solid #000;
 max-width: 711px;
 font-size: 15px;
 padding: 0 20px;
 box-sizing: border-box;
}

.contact-form__input::placeholder {
 color: rgb(178, 178, 178);
}

.contact-form-check-area {
 width: 80%;
 max-width: 711px;
}

.wpcf7-list-item {
 display: block;
 font-size: 1.8rem;
 margin-bottom: 20px;
 padding: 0 40px;
 margin-left: 0;
 position: relative;
}

.wpcf7-list-item.last {
 margin-bottom: 0;
}

.wpcf7-list-item label {
 cursor: pointer;
}

.wpcf7-list-item label::before {
 content: '';
 background: #fff;
 border: 1px solid #231815;
 display: block;
 width: 20px;
 height: 20px;
 left: 0;
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
}

.wpcf7-list-item label::after {
 content: '';
 border-right: 3px solid variable.$red;
 border-bottom: 3px solid variable.$red;
 display: block;
 height: 12px;
 left: 7px;
 margin-top: -9px;
 opacity: 0;
 position: absolute;
 top: 50%;
 transform: rotate(45deg);
 width: 5px;
}

.wpcf7-list-item label.checked::after {
 opacity: 1;
}

.contact-form__textarea {
 height: 300px;
 padding: 20px;
}

.wpcf7-form-control-wrap {
 width: 80%;
 text-align: right;
}

.wpcf7-form-control-wrap .wpcf7-form-control {
 width: 80%;
 display: block;
 margin-left: auto;
}

.wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item {
 text-align: left;
}

.wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item input {
 opacity: 0;
 position: absolute;
}

.wpcf7-spinner {
 width: 0;
 margin: 0;
}

.wpcf7-not-valid-tip {
 width: 80%;
 margin-left: auto;
 padding-top: 6px;
 text-align: left;
 color: variable.$red; 
}

.wpcf7 form.invalid .wpcf7-response-output {
 border: none;
 font-size: 1.8rem;
 text-align: center;
 color: variable.$red;
}

.content-area--contact-form {
 margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
 .contact-form__item {
     flex-wrap: wrap;
     margin-bottom: 20px;
 }

 .contact-form__item--bottom {
     margin-bottom: 0;
 }

 .contact-form__label {
     width: 100%;
     font-size: 1.6rem;
     margin-top: 0;
     margin-bottom: 12px;
 }

 .contact-form__input {
     width: 100%;
 }

 .contact-form-check-area__item {
     font-size: 1.6rem;
 }

 .wpcf7-form-control-wrap {
     width: 100%;
 }

 .wpcf7-form-control-wrap .wpcf7-form-control {
     width: 100%;
 }

 .contact-form-check-area {
     width: 100%;
 }

 .content-area--contact-form {
     margin-bottom: 60px;
 }
}

