@use "../foundation/variable";


.footer {
 &-box {
   background: variable.$red;
   color: #fff;
   padding: 50px 0;
   text-align: center;
 }
 &-nav {
   &-list {
     display: flex;
     list-style: none;
     justify-content: center;
     margin-bottom: 32px;
     .menu-item {
       margin-right: 35px;
       a {
         color: #fff;
         font-size: 1.7rem;
         font-weight: bold;
         text-decoration: none;
       }
       &:last-of-type {
         margin-right: 0;
       }
     }
   }
 }
 &-logo {
   width: 32px;
   margin: 0 auto 30px;
 }
 &-copy {
   margin-bottom: 10px;
   font-size: 1.5rem;
 }
 &-sns-area {
   &__item {
     display: inline-block;
     width: 22px;
     margin-right: 12px;
     &:last-of-type {
       margin-right: 0;
     }
   }
 }
}
@media screen and (max-width:767px) {
 .footer {
   &-box {
    padding: 50px 20px 80px;
   }
   &-nav {
     &-list {
       flex-wrap: wrap;
       margin-bottom: 10px;
       .menu-item {
         display: inline-block;
         margin-right: 17px;
         margin-left: 17px;
         margin-bottom: 20px;
         &:last-of-type {
           margin-right: 17px;
         }
       }
     }
   }
   &-copy {
     margin-bottom: 20px;
   }
 }
}